$white: rgba(255, 255, 255, 1);
$white2: rgba(242, 246, 255, 1);
$white3: rgba(220, 223, 226, 1);

$white4: rgba(238, 238, 238, 1);
$white5: rgba(242, 246, 255, 1);
$white6: rgba(254, 254, 255, 1);
$white67:rgba(217, 217, 217, 1);
$white8: rgba(239, 240, 250, 1);
$white9: rgba(245, 245, 245, 1);
$white10:rgba(217, 217, 217, 1);

$gray: rgba(99, 109, 119, 1);
$gray2: rgba(79, 79, 79, 1);

$gray3: rgba(94, 94, 94, 1);
$gray4: rgba(95, 106, 115, 1);
$gray5: rgba(78, 78, 78, 1);
$gray6: rgba(92, 92, 92, 1);
$gray7: rgba(151, 151, 151, 1);
$gray8: rgba(139, 139, 139, 1);
$gray8: rgba(178, 178, 178, 1);
$gray9: rgba(156, 156, 156, 1);
$gray10: rgba(99, 109, 119, 1);
$gray11: rgba(198, 198, 198, 1);
$gray12: rgba(160, 160, 160, 1);

$light-gray: rgba(190, 196, 202, 1);
$light-gray2: rgba(137, 137, 137, 1);
$light-gray3: rgba(220, 223, 226, 1);

$light-primary: rgba(134, 164, 231, 1);
$light-primary2: rgba(119, 147, 209, 1);
$light-primary3: rgba(147, 164, 203, 1);

$black: rgba(0, 0, 0, 1);
$black2: rgba(0, 0, 0, 0.25);
$black3: rgba(0, 0, 0, 0.1);
$black4: rgba(2, 2, 2, 1);

$green: rgba(100, 171, 132, 1);
$light-green: rgba(138, 183, 163, 1);
$dark-green: rgba(110, 129, 91, 1);
$dark-green2: rgba(115, 148, 82, 1);
$light-green2: rgba(168, 223, 171, 1);

$red: rgba(214, 47, 47, 1);


$light-blue: rgba(156, 196, 236, 1);
$light-blue2: rgba(196, 213, 252, 1);
$light-blue3: rgba(119, 147, 209, 1);

$dark-blue: rgba(63, 106, 149, 1);
$dark-blue2: rgba(75, 79, 142, 1);
$dark-blue3: rgba(69, 74, 104, 1);



$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;
