@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.woff') format('woff'),
    local('Gilroy-Black.woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.woff') format('woff'),
    local('Gilroy-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.woff') format('woff'),
    local('Gilroy-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiBold.woff') format('woff'),
    local('Gilroy-SemiBold.woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.woff') format('woff'),
    local('Gilroy-Medium.woff');
    font-weight: 500;
}